.houses-list {
    /*scroll only content div, other body should fixed*/
    overflow: auto;
    height: 500px;
}
.house-item {
    width: 470px;
    border: 1px #cccccc dashed;
    margin: 20px;
    padding: 10px 20px;
    display: inline-block;
}
.house-item.selected {
    border: 1px darkred dashed;
    background-color: #eee;
}