<h2>My Heroes</h2>
<ul class="heroes">
    <li class="house-item" *ngFor="let house of houses" [class.selected] = 'house === selectedHouse'>
        <h2 (click)="onSelect(house)">{{ house.address }}</h2>
        <div><span>Id: </span>{{house.id}}</div>
        <div>
            <label>
                Address:
                <input [(ngModel)]="house.address" placeholder="address">
            </label>
        </div>
        <div><span>Price: </span>{{house.price}}</div>
    </li>
</ul>

<app-house-detail [house]="selectedHouse"></app-house-detail>
